	
header {
    background: #800000; /* For browsers that do not support gradients */
    background: linear-gradient(#800000, #8B0000, #000000); /* Standard syntax (must be last) */
	color: white;
	text-align:center;
	padding:5px;
	height:30px;
	width:980px;
}
