/* ----- set width and center layout ----- */
#container {
	width:981px;
	margin:0px auto;
	background: white;
	height:100%;
}

/* -------------Main settings ------------ */
html,body {
	height:90%;
	background-color:gray;
}

#main {
	height:100%;
	background: white;
	
}

/* ----------- common Settings ------*/
hr {
	width:100%;
}

.required {
	color:red;
}

/* ---------- top page Description ------- */
#pageDescription {
	text-align:left;
	margin:20px;
	height:100%;
}

#pageDescription .title {
	text-shadow: 2px 2px 8px #FF0000;
}

#pageDescription p {
	margin:20px;
	width:900px;
}

#pageDescription h3 h2{
	text-align:center;
}

#pageDescriptionIMG {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/* ----------- footer ------------- */
footer {
	clear:both;
	text-align:center;
	vertical-align:center;
	background: black;
	height:60px;
	padding-top:2px;
	color:#ffffff;
}

