<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home Page (indexAlpha.html)</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
     <ul>
        <li><a href="../views/home.php">Home</a></li>
        <li><a href="../views/survey.php">Survey</a></li>
        <li><a href="../views/privacy.php">Privacy</a></li>
		<li><a href="../views/search.php">Search</a></li>		
    </ul>
    <p> (indexAlpha.html)There isnt anything specific that needs to be on this page</p>

</body>

</html>