<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sprint1_Survey</title>
    <script src="../scripts/jsFormValidator.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
   <ul>
        <li><a href="../views/home.php">Home</a></li>
        <li><a href="../views/survey.php">Survey</a></li>
        <li><a href="../views/privacy.php">Privacy</a></li>
		<li><a href="../views/search.php">Search</a></li>		
    </ul>
    <br>
	
	<form 

    <form name="myForm" method="post" action="testform.php" onsubmit="return validateForm()">
        <span>Search</span>
        <input type="text" name="SearchBar" placeholder="Title or Artist Name">
        <br>
        <input type="submit" value="Submit" id="Btnsubmit">

    </form>

</body>

</html>