/****** Top Navigation Menubar *******/
.siteSearch {
	float: right;
	padding-top:5px;
}

#topNavBar form {
	padding-top:2px;
	padding-right:2px;
}

#topNavBar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#topNavBar li {
	float:left;
}

#topNavBar a:link {
	display:block;
	width:110px;
	font-weight:bold;
	color:#800000;
	background-color:#e0e0d1;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#topNavBar a:visited {
	display:block;
	width:110px;
	font-weight:bold;
	color:#800000;
	background-color:#e0e0d1;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#topNavBar a:hover {
	background-color:#FF0000;
	color:#FFFFFF;
}

#topNavBar a:active {
	background-color:#FF0000;
	color:#FFFFFF;
	text-decoration:none;
}

#topNavBar {
	background-color: #e0e0d1;
	font-size: 14px;
	font-weight:bold;
	color:#FF0000;
}